3T
configstore
goa-1.0
libinput-gestures.conf
obs-studio
simple-update-notifier
vlc
autostart
copyq
google-chrome
libreoffice
octave
spotify
wal
awesome
dconf
gpick
lutris
oomox
sqlitebrowser
warpinator
balena-etcher-electron
deepin
gscan2pdfrc
matplotlib
Pencil
Station
weather-mockturtl
biolab.si
draw.io
gtk-2.0
menus
sticky
wpg
BraveSoftware
easytag
gtk-3.0
Microsoft
pix
systemd
xed
cairo-dock
enchant
hexchat
'Microsoft Teams - Preview'
plank
teams
xreader
caja
evolution
htop
mimeapps.list
Postman
teamviewer
xviewer
calibre
fcitx
ibus
mintmenu
procps
tilix
yelp
cef_user_data
fish
inkscape
monitors-v1-backup.xml
pulse
touchegg
Zeal
celluloid
fontforge
k9s
monitors-v1-backup.xml~
qt5ct
transmission
zoomus.conf
cinnamenu
Franz
karboncalligraphyrc
mpv
QtProject
ulauncher
cinnamon
gh
kdeconnect
nautilus
QtProject.conf
'Unity Hub'
cinnamon-monitors.xml
GIMP
kitty
nemo
Rambox
UnityHub
cinnamon-monitors.xml~
glib-2.0
kritadisplayrc
neofetch
rncbc.org
user-dirs.dirs
cinnamon-session
gnote
kritarc
'NVIDIA Corporation'
ros.org
user-dirs.locale
gnuplot
lazygit
nvim
scribus
VirtualBox

Code
NVIDIA Corporation
Unity Hub
